*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    overflow-y: hidden;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
.all{
    justify-items: center;
    align-items: center;
    background-color: black;
}
#game{
    display: flex;
    justify-items: center;
    align-items: center;
}
